@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css" />
<div class="d-flex justify-content-between mt-4">
	<div>
		<h1>Vota</h1>
		<h2>система принятия решений</h2>
		<hr />
		<div class="d-flex">
			<div class="stat">
				<div class="big-number">
					@ViewBag.Current
				</div>
				<p>Текущих голосований</p>

			</div>
			<div class="stat">
				<div class="big-number">
					@ViewBag.Total
				</div>
				<p>Всего голосований</p>

			</div>
			<div class="stat">
				<div class="big-number">
					@ViewBag.Users
				</div>
				<p>Пользователей</p>

			</div>
		</div>
		


		<a href="Account/Login" class="btn btn-primary">Войти</a>
		<a href="Account/Register" class="btn btn-primary">Зарегистрироваться</a>
	</div>
	<img src="~/big.png" width="500" height="500" />
</div>
