@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
	.close-btn {
		position:absolute;
		top:0;
		right:5px;
	}
	#options-list {
		list-style:none;
	}
</style>
<div class="alert alert-danger" role="alert" id="alert" style="display:none;">
	еггог
</div>
<form method="post" asp-action="CreateSave">
	<h1>Информация</h1>
	<div class="mb-3">
		<label for="Name" class="form-label">Название</label><input class="form-control" name="Name" id="name-input"/>
		<label for="Description" class="form-label">Описание</label><textarea class="form-control" name="Description" id="desc-input"></textarea>
		<label for="StartTime" class="form-label">Начало голосования</label><input class="form-control"  step="any"  name="StartTime" type="datetime-local" id="start-input"/>
		<label for="EndTime" class="form-label">Конец голосования</label><input class="form-control" name="EndTime" step="any" type="datetime-local" id="end-input"/>
	</div>




	<h1>Варианты</h1>
	<button class="btn btn-primary mb-3" id="add-option-btn">Добавить вариант</button>
	<ul class="list-group mb-3" id="options-list">
	</ul>
	<div class="text-right">
		<input type="submit" class="btn btn-success" id="save-btn" value="Сохранить голосование" asp-controller="Admin" asp-action="CreateSave" />
		<input type="hidden" value="0" id="OptionsCount" name="OptionsCount" />
	</div>

</form>
<script>
	function error(msg) {
		$("#alert").show();
		$("#alert").text(msg);
	}
	function removeError() {
		$("#alert").hide();
	}
	function setNames() {
		let coll1 = $("#options-list .name-input");
		let coll2 = $("#options-list .desc-input");
		for (let i = 0; i < coll1.length; i++) {
			coll1[i].setAttribute("name", "name" + i.toString());
		}
		for (let i = 0; i < coll2.length; i++) {
			coll2[i].setAttribute("name", "description" + i.toString());
		}
		return coll1.length;
	}
	function validate() {
		let valid = true;
		if ($("#name-input").val().length == 0) {
			valid = false;
			error("Пустое название");
		}
		if (($("startTime").val() > $("endTime").val() )) {
			valid = false;
			error("Некорректные даты");
		}
		if (setNames() < 2) {
			valid = false;
			error("Минимум два варианта");
		}
		if (valid) removeError();
		return valid;
	}
	function zeroPadded(val) {
		if (val >= 10)
			return val;
		else
			return '0' + val;
	}
	$(document).ready(function () {

		$("#name-input").keyup(validate);
		//$("#start-input").keyup(validate);
		//$("#end-input").keyup(validate);

		$("#save-btn").click((event) => {

			if (!validate()) event.preventDefault();
		});
		
		

		$("#add-option-btn").click((event) => {

			let option = `
			<li><div class="container card list-group-item mt-2 mb-2" >
				<button type="button" class="btn btn-outline close-btn">×</button>
				
				<div class="row mt-3 mb-3 ml-2 mr-2">
					<div class="col-sm-9">
						<input class="mt-3 mb-3 form-control name-input" placeholder='Название'"/>
						<textarea class="text-muted small form-control desc-input" placeholder='Описание'"></textarea>
					</div>
				</div>
			</div></li>
		`;

			
			
			event.preventDefault();
			$("#options-list").append(option);
			$("#OptionsCount").val(setNames());
			$(".close-btn").click((event) => {
				console.log("deleting option");
				event.preventDefault();
				document.removeChild($(event.target.parentNode.parentNode).remove());

			});
		});
		$("#add-option-btn").click();
		$("#add-option-btn").click();
		d = new Date();
		$('#start-input').val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds());
	});


</script>